[2018-08-11 15:16] acliyang opened #1 "Template-driven forms filesize and fileslimit validation not work as expect"
Hi, I test file-upload with template-driven forms, and it works.
But it seemed validation not work. Below is my testing code:
`<form #demoForm="ngForm">
  <file-upload [(ngModel)]="uploadedFiles" [disabled]="false" [filesize]="100000" [fileslimit]="2" accept="audio/*" name="files"></file-upload>
</form>`

Whatever I select how big file, or many files, it not show error status.

[2018-08-13 01:12] acliyang commented on #1
I found the class of file-upload is changed  to "ng-invalid" if I upload big file, so just set properly css then problem solved.

[2018-08-15 07:02] pIvan commented on #1
Hi @acliyang,

it's exactly like you said file-upload element change class to ng-invalid,
but if you want to access
error object in your component you can do something like this:

[code]

[2018-08-15 07:09] #1 closed

[2018-09-08 16:31] sharmaguides opened #2 "How to avoid uploading file having size 0 bytes"
Is there a method which can be used to avoid file having the size of 0 byte

[2018-09-10 08:10] pIvan commented on #2
Hi @sharmaguides

for now if you use both ways, reactive or template driven
it is not possible to do so unless you make you'r own directive or validator

But if you can wait, I will add them today during the day.

[2018-09-10 19:08] pIvan commented on #2
Now it's possible to validate is file size in range (exclusive).
**Template**
`<file-upload ngModel [minsize]="20" [maxsize]="10000" name="files"></file-upload>`
`<file-upload ngModel minsize="20" maxsize="10000" name="files"></file-upload>`
**Reactive**
`FileUploadValidators.sizeRange({ minSize?, maxSize? })`

A library is transferred to new location [@iplab/ngx-file-upload](https://www.npmjs.com

[2018-09-11 17:53] #2 closed

[2018-09-14 16:39] sharmaguides commented on #2
Thank you @pIvan

[2018-09-16 08:43] pIvan commented on #2
You're welcome @sharmaguides

[2018-11-28 04:21] saurabh73 opened #3 "NPM install fails with code 401"
[code]

[2018-11-28 04:32] #3 closed

[2018-12-18 09:52] Zeshan316 opened #4 "How to clear the list after successfull image uploads?"
Hello
I am facing some issue that how to clear the list when image uploaded to the server. Nothing found special in the documentation for this example. Using angular template driven forms.

[2018-12-18 21:22] pIvan commented on #4
Hi @Zeshan316,

bug has fixed and documentation page is updated.
Also you can compare code change [1f47712](https://github.com/pIvan/file-upload/commit/1f47712fd47795e3e6667e75d72424f2f3a0b659)

and download last version from [@iplab/ngx-file-upload](https://www.npmjs.com/package/@iplab/ngx-file-upload)

kind regards,
@pIvan

[2018-12-19 04:34] Zeshan316 commented on #4
That's good.

I've checked docs there is some bug. The selected files are not showing in dropzone.

[2018-12-19 21:50] pIvan commented on #4
Thanks @Zeshan316,

there was problem in demo page build task, all should be fixed.

[2018-12-20 21:54] #4 closed

[2018-12-21 06:05] Zeshan316 commented on #4
Thanks, working fine.

[2018-12-28 16:14] mithlesh20apr opened #5 "When I Submit button click then server response each and every time getting blank data in this file upload"

[2018-12-28 17:12] pIvan commented on #5
Hi @mithlesh20apr,

can you provide me more info about problem,
how you're client côde look, and how back-end côde look?

[2018-12-28 17:41] mithlesh20apr commented on #5
Thanks, For response @pIvan

This one is my reactive form group code
      public fileUploadControl = new FileUploadControl(FileUploadValidators.fileSize(80000));
      public fileUploadWithTemplate = new FileUploadControl();
      public filesControl = new FormControl(null, FileUploadValidators.accept(['video/*', 'image/*', '.mp3']));

   // Article form validations
        this.articleForm = thi

[2018-12-28 18:01] pIvan commented on #5
@mithlesh20apr
can you confirm me that this client side côde is sending the File list to controller?

 **is here everything ok with data?**
[code]

**content-type should be multipart/form-data; not application/json**
[code]
check file upload example on [developer.mozilla.org](https://developer.mozilla.org/en-US/docs/Web/API/File/Using_files_from_web_applications#Asynchronously_handling_the_file_up

[2018-12-28 18:07] mithlesh20apr commented on #5
submitForm() {
   console.log(this.articleForm);

Yes this code is given me all right data including with files

[2018-12-28 18:11] pIvan commented on #5
@mithlesh20apr that mean how component works fine,
to fix you're problem please check content-type and mentioned link,
I hope how that would be helpful

[2018-12-29 13:36] pIvan commented on #5
Did these materials help you with your problem?

[2018-12-30 12:44] pIvan commented on #5
I'm closing this because a problem is not connected with component.

[2018-12-30 12:44] #5 closed

[2019-01-04 12:59] dzonatan opened #6 "Cannot be used in any other module except root module"
Importing `FileUploadModule` in any other module than root results in error:
`Error: BrowserModule has already been loaded`.

You might want to have `FileUploadModule` included only in one of your lazy-loaded modules, not in the entire app.

And this is happening because of `BrowserAnimationsModule` import:
https://github.com/pIvan/file-upload/blob/cc672f3d2c7a28a365775cf8bee43dc5ab1c1bd2/src/lib/

[2019-01-04 13:02] pIvan commented on #6
Hi @dzonatan,
you're right, I'm working on a fix.

[2019-01-04 13:44] #6 closed

[2019-01-04 13:51] pIvan commented on #6
`BrowserAnimationsModule` is excluded from the library, what should
resolve the problem.

As you mentioned the animation is now optional,
also demo page is updated to explain how to do so.

[2019-01-07 05:22] davidalfasunarna opened #7 "Error in serve and build"
It shows me error like this. Can u help me solve?

[code]

[2019-01-07 07:21] pIvan commented on #7
Hi @davidalfasunarna
can you give me more info about library version you use,
and @angular version?

Thanks

[2019-01-07 10:07] davidalfasunarna commented on #7
It says
[code]

[2019-01-07 18:54] pIvan commented on #7
Can you try to use last version of TypeScript instead 2.7.2?
Version on which last library version was build is typescript: 3.1.6

[2019-01-07 22:42] pIvan commented on #7
What I made is dependency downgrade, after first test library works fine with
app built with angular 7.x.x and with old versions like 6.0.x.

Tomorrow when I run a few more tests, will push the changes to the repository.

The problem were a newer version of @types/jasmine and typescript in combination
with new ng-packagr

[2019-01-08 02:12] davidalfasunarna commented on #7
Hi @pIvan ill will try ur suggestion and come back to u.
Thanks

[2019-01-08 17:51] pIvan commented on #7
Hi @davidalfasunarna,

can I ask you to try library version 1.1.7?
There was a problem with implicitly inherited Interface

[2019-01-17 13:29] Noppey opened #8 "TypeValidator filetype sometimes failed on windows"
Hi,

When I use validation of fileType and I run the code in Chrome or IE on Windows, it doesn't always accept my types.

This occurs for allowedTypes[] of ['.csv', '.xls', '.xlsx'] and with combinations of xlsx and csv files that I try to upload.

[2019-01-17 14:00] pIvan commented on #8
Hi @Noppey,
thank You.

Problem will be corrected as soon as possible.

[2019-01-17 22:18] #8 closed

[2019-01-18 09:15] Noppey commented on #8
Hi, it seems to be working now, thanks for the quick solution!

You only forgot to remove the console.log of notallowedfiles, so this shows up every file upload now :)

[2019-01-18 09:59] pIvan commented on #8
Thanks @Noppey, I'll remove it today :)

[2019-02-07 16:00] paulociva opened #9 "File upload validators for .pdf"
I'm trying to apply a pdf file filter, but it does not display error if I select other file types.

See here: https://stackblitz.com/edit/angular-file-upload-test

[2019-02-07 16:21] pIvan commented on #9
Hi @paulociva,

component is marked as invalid, you can check class atribute on
component (**ng-invalid**)

`<file-upload formcontrolname="files" class="ng-tns-c1-0 has-files ng-touched ng-dirty ng-invalid list-visible" ng-reflect-name="files"></file-upload>`

this way you can check error objects
`this.demoForm.controls.file.errors` or `this.filesControl.errors`

also if you check formGroup status

[2019-02-07 19:46] paulociva commented on #9
Hi @pIvan,

Thanks for the reply, but I could not simulate the display of the error messages, you can look at the same example as before.

And one more question, can I "reject" the file that is not the one I select?

[2019-02-07 20:03] pIvan commented on #9
use `this.demoForm.controls.files.errors` instead `this.demoForm.controls.file.errors`
it prepares the same object like any other angular validator, depending on the error object
you can prepare message, also you can change drop zone template to suit you're needs.

Component does not have the ability to reject something what user add because it is not user friendly
action, I will consider to add t

[2019-02-07 22:00] pIvan commented on #9
I'm closing this because validators are working correct

[2019-02-07 22:00] #9 closed

[2019-02-28 08:31] lucky0007 opened #10 "Cannot find module 'google-code-prettify/bin/prettify.min.js'"
Hi sir,

I am using this file upload in angular 7 when I am going to open my app it is showing Cannot find module 'google-code-prettify/bin/prettify.min.js' so how can i install this on node_module.

Thanks
Lokendra

[2019-02-28 15:32] lynx-r opened #11 "FormData is not defined"
Hello, I am using your package with Angular Universal and I am getting an error: `FormData is not defined`

![telegram-cloud-file-2-257117167-43870--554554134172692992](https://user-images.githubusercontent.com/152172/53577623-09a5df00-3b87-11e9-9a2c-f4a64686c101.jpg)

Could you say how I can fix it?

[2019-02-28 16:44] pIvan commented on #10
Hi @lucky0007,

can you explain me where and why are you using google-code-prettify?
File upload module does not require google-code-prettify,
that module is only used on demo page.

Kind regards,
Ivan

[2019-02-28 17:19] #11 closed

[2019-02-28 17:25] pIvan commented on #11
Hi @lynx-r,

I just made update which should fix problem with undefined FormData class.
Kind regards,

Ivan

[2019-03-04 08:49] pIvan commented on #10
Because there is no new info about this, and google-code-prettify is not
part of file-upload module, I'm closing this.

[2019-03-04 08:49] #10 closed

[2019-03-14 06:53] allahyar opened #12 "'subscribe' of undefined"
I use ng serve --aot
![image](https://user-images.githubusercontent.com/12588629/54337056-f729ac00-4642-11e9-9d6a-20cb19bb498b.png)

[2019-03-14 07:02] pIvan commented on #12
Hi @allahyar,

can You give me more info about your project?
How template in your component looks, and that part of component which is in relation
with file-upload?

Thanks,
Ivan

[2019-03-14 07:55] allahyar commented on #12
Hi @pIvan
Thanks for the fast answer 👍
Look [here](https://stackblitz.com/edit/ngx-file-upload?file=src/app/app.component.ts)

[2019-03-14 08:12] pIvan commented on #12
1. If you want to use component with angular reactive form, then you should write it this way

`<file-upload simple [formControl]="fileControl">`
**or** `<file-upload simple formControlName="controlName">`

2. If you want to use it with template driven form

`<file-upload simple [(ngModel)]="files">`

3. and if you want to use it without angular form

import { Component,OnInit } from '@angular/cor

[2019-03-14 10:27] #12 closed

[2019-03-16 10:24] allahyar commented on #12
I have this problem too :(
![image](https://user-images.githubusercontent.com/12588629/54473874-e3bd4300-47f2-11e9-91c6-9d9002645907.png)

[2019-03-16 12:20] allahyar opened #13 "How can I take a photo preview?"
Hi ,How to create a preview of the image

[2019-03-16 12:30] pIvan commented on #13
Hi @allahyar,

this should not be opened as an issue.
Please check [FileReader](https://developer.mozilla.org/en-US/docs/Web/API/FileReader)
and implemented method [readAsDataURL](https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL).

Thanks,
Ivan

[2019-03-16 12:32] pIvan commented on #13
Also preview can be implemented as template inside
drop zone, or you can place img tag beside drop zone, it's up to you
and application design. My suggestion is to turn off `setListVisibility`

[2019-03-29 09:58] dmytrodemchenko opened #14 "File limit is doesn't work. Possible to add any count of files."

[2019-03-29 10:02] dmytrodemchenko opened #15 "Issue with accept user input."
It allows to put any type of files and it seems that it doesn't work properly.

Also, when I use image/* pattern - it shows all visible files in a folder instead of https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_input_accept

[code]

[2019-03-29 10:16] dmytrodemchenko commented on #15
Why you didn't bind user inputs with an HTML template?

[2019-03-29 11:09] pIvan commented on #14
Hi @dmytrodemchenko,

The file limitation is validator not the physical restriction,
you can add an unlimited number of files, but that's why you have
error object, it is same as any other angular form component error.

You don't restricting user to bring as many files he want,
insead you can rise him a message with file limitation note.

[2019-03-29 11:33] dmytrodemchenko commented on #14
Hi @pIvan,
Thanks a lot for your response!

We can close this one.
Thanks a lot for your helping.

[2019-03-29 11:33] pIvan commented on #14
also if you want to count how many file is uploaded, you can use
value.length with FormControl instance and method size with FileUploadControl instance

[2019-03-29 11:38] dmytrodemchenko commented on #14
@pIvan could you please help #15?

[2019-03-29 11:38] #14 closed

[2019-03-29 11:58] pIvan commented on #15
It is same as file limitation, validator should only validate values and
prepare error objects, you can use them to show user which files are allowed

[2019-03-29 12:03] dmytrodemchenko commented on #15
Probably, you are not right.
Have you seen the example https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_input_accept ?

Accept uses for avoiding unnecessary files for uploading, also it helps to user pick up the right format file  from the bunch of files - and it works properly in an example above.

[2019-03-29 12:13] pIvan commented on #15
You're right. Thank's @dmytrodemchenko beacuse you have noticed it.
Should be implemented in the next few days

[2019-03-29 12:13] dmytrodemchenko commented on #15
I do not use accept attr as a validator - the main idea to clean a folder from unnecessary files as it provided by official docs.

Everything that you need to do:

[code]

Please let me know what do you think about this?

[2019-03-29 12:14] dmytrodemchenko commented on #15
@pIvan thank you a lot for your collaboration.

[2019-03-31 21:11] cdibbs opened #16 "Directory attribute option"
Hello,

Is there any plan to incorporate the (relatively new) directory attribute on the file input?

https://stackoverflow.com/questions/22041207/is-it-possible-to-upload-a-folder-using-html-form-php-script

Thanks!

[2019-04-01 09:34] pIvan commented on #16
Hi @cdibbs,

yes it is in plan to add the ability to upload directory.

[2019-04-01 17:52] pIvan commented on #15
Support for native accept attribute was added.

It is possible to use it as attribute on `<file-upload accept="..."> || <file-upload [accept]="...">`
or if you use `FileUploadControl` as  `FileUploadControl.acceptFiles(...string)`.

[2019-04-02 05:54] pIvan commented on #15
I guess we can close this.

[2019-04-02 05:54] #15 closed

[2019-04-02 06:56] dmytrodemchenko commented on #15
@pIvan thank you a lot for that!

[2019-04-05 11:37] Rapiiidooo opened #17 "[Feat] Directive for text "Drag and drop...""
I think it would be a good idea to add two directives to let user change the text showed in the upload-text. (Necessary for language translation)

I mean one directive as :
textStrong: with default would be "Drag and drop files"
text: with default would be "or click here"

[2019-04-05 11:47] pIvan commented on #17
Hi @Rapiiidooo,

To simplify code in **file-upload,** it is possible to change whole template which will show text,
and in that template you can use l10n.
For that purpose in your project you can create component which will be wrapper for file-upload.

`<file-upload>`
`<ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>`
`<span *ngIf="isFileDragDropAvailable">drop or c

[2019-04-05 15:48] Rapiiidooo commented on #17
Nice !

Working perfectly 👍 .

Then I think you should notice it on documentation :) ! Unless I'm just blind I could not find out.

Thank you @pIvan

[2019-04-06 17:21] pIvan commented on #17
You can find it here [documentation](https://pivan.github.io/file-upload/)
under section **Custom templates**.

You're welcome @Rapiiidooo

[2019-04-06 17:22] #17 closed

[2019-04-29 13:15] glynmercieca commented on #6
How do i remove/disable animations? could not find reference in demo page

[2019-04-29 13:20] pIvan commented on #6
Hi @glynmercieca

it is simple, just use **NoopAnimationsModule** instead BrowserAnimationsModule,
check [installation section](https://pivan.github.io/file-upload/#installation)
[code]

[2019-04-29 13:24] glynmercieca commented on #6
Ok, but is there a way to only disable the animations just in this component, as I need the browser animations in the app in general

[2019-04-29 14:13] pIvan commented on #6
Currently, there isn't possible to disable animation, but I have in plan to
implement module configuration in the next two days.

someting like this:
`FileUploadModule.withConfig({ disableAnimations: true }),`

[2019-04-29 16:41] pIvan commented on #6
@glynmercieca there is new version 1.3.0
where you can disable animation on certain component,
with adding animation="false" attribute on it.
The demo page has been updated to.

[2019-05-06 11:44] greenwenny opened #18 "File type is empty => accept validation failed"
Hello,

sometimes (Chrome on Windows) the filetype can not be determined. Especially with Microsoft files (word, excel). Therefore my accept type validation fails.

![UploadValidationFails](https://user-images.githubusercontent.com/50322079/57222982-dbb89d00-7004-11e9-93a3-988b87ae9daa.PNG)

[2019-05-06 18:45] pIvan commented on #18
Hi @greenwenny,
Fix will be ready in the next few days, thank you.

[2019-05-07 20:10] #18 closed

[2019-05-16 10:26] earnarson opened #19 "filestream"

[2019-05-16 10:26] #19 closed

[2019-05-16 16:57] DamianAllende opened #20 "Custom templates"
Hi, I'm new to Angular,
In its Custom templates component, I would like to know how span works since when loading my image the first span does not disappear, it is always visible and the second span never appears.

`<ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
                    <span *ngIf="isFileDragDropAvailable">drop or click</span>
                    <spa

[2019-05-16 17:08] pIvan commented on #20
Hi @DamianAllende,

those span elements depend on that does browser support drag and drop natively
or not, so if you're browser support drag and drop you'll see only first span.
If you want to define span position when list is visible, you can use
css class names on his parent element **file-upload** which are added if
there is any file in it

has files and list is visible
[code]

has files but li

[2019-05-16 17:08] #20 closed

[2019-06-20 03:26] cannon021 opened #21 "accept attribute not working"
when i use `file-upload simple` selector,  accept attribute will not working

![image](https://user-images.githubusercontent.com/52021210/59835467-48e97d00-937c-11e9-907b-8afd3f415c5d.png)

[code]

[2019-06-20 09:22] cannon021 opened #23 "extension name ignore case"
could check extension name ignore case ?

[2019-06-21 12:00] #21 closed

[2019-06-21 12:12] pIvan commented on #23
Hi @cannon021, I don't think I fully understood the question,
could you give me some example?
Should ignore case be applied to validation or?

[2019-06-22 01:27] cannon021 commented on #23
ignore case differences when comparing filenames

like the code below
==============================================================
/**
 * function used to check file type
 *
 * #### allowedTypes
 * file_extension|audio/*|video/*|image/*|media_type
 */
const checkFileType = (file: File, allowedTypes: Array<string>): ValidationErrors | null => {
    // convert to lowCase
    const fileExtension =

[2019-06-27 07:00] #23 closed

[2019-06-27 07:05] cannon021 opened #26 "how about export FileUploadService ？"
If you open FileUploadService, it is convenient to read when the file size exceeds the limit.

for example:  `actual : 10240(byte)`   `display: 10K`

[2019-06-27 20:09] pIvan commented on #26
Idea is to have file upload library as simple as can be and to retain abstraction,
if I export class used just as helper inside component somebody else can ask to
implement some method convenient for his project, and there can be millions of such
requests.

Easily you can write validation or in this case function which can be used as
you want, and where you want.
For now, I don't see needs for exp

[2019-06-27 20:09] #26 closed

[2019-09-13 09:15] julienboulay opened #27 "Export FileUploadIconComponent in FileUploadModule"
Hi,

I would like to create my own custom file-upload-list-item to be able to localize the "remove" button and style the file list.
Could you please add FileUploadIconComponent to the exports section, so that I can reuse the icon ?
Thanks

[2019-09-13 09:20] julienboulay commented on #27
It could be nice also to have FileUploadService exported from public_api to be able to import it in another ts file.

[2019-09-13 10:11] pIvan commented on #27
Hi @julienboulay I'll do both things.

[2019-09-13 21:49] pIvan commented on #27
FileUploadService will be exposed through public API but FileUploadIconComponent could be
a problem, because some projects may already use the same selector as FileUploadIconComponent (file-upload-icon).
The idea with this file upload component is to be an abstraction on which anybody can build his design.
I will consider about naming convention and if programmers repeatedly
reports the need for c

[2019-09-13 22:00] #27 closed

[2019-09-13 22:00] pIvan commented on #27
to use FileUploadService register it in @Component or @Module as provider

[2019-11-12 22:24] invaderb opened #28 "Drag and drop limit to 1 file"
greetings, this is a really awesome module, however I have one issue/ request.

In the documentation I see
`<file-upload ngModel fileslimit="2" name="files"></file-upload>`

But it doesn't seem to be limiting the number of files that can be added to the list.

Here is a snippet of my code am I doing something wrong?
`<file-upload [(ngModel)]="blast.file" name="file" (ngModelChange)="onFileEmmit(bl

[2019-11-13 07:08] pIvan commented on #28
Hi @invaderb,

fileslimit is just validator on FileUpload component, if you want to disable drop zone after
one file is uploaded,
You can make some changes and use custom template and/or disableing whole component once user drop one file.

exc.
[code]

[2019-11-13 17:46] invaderb commented on #28
That worked perfectly thank you!

[2019-11-13 17:46] #28 closed

[2019-11-13 18:36] pIvan commented on #28
You're welcome!

[2019-12-04 10:29] kolkov opened #29 "How to use with ngx-image-cropper?"
Hi! Give me an scenario how to use with  https://github.com/Mawi137/ngx-image-cropper/blob/master/README.md
Thanks!

[2019-12-04 23:29] pIvan commented on #29
Hi @kolkov this is not an issue if you check one and another documentation
you can see attribute imageFile on ngx-image-cropper which needs Blob instance.
[A File object is a specific kind of a Blob, and can be used in any context that a Blob can.](https://developer.mozilla.org/en-US/docs/Web/API/File) so you can use FileUploadControl.value[0] here.
This kind of "issue" will be automatically close

[2019-12-04 23:29] #29 closed

[2019-12-11 11:49] nikhilrajnair opened #30 "Uncaught (in promise) DOMException: Failed to load because no supported source was found."
When i uploading the 3gpp/x-flv files this error shows

[2019-12-11 11:55] pIvan commented on #30
Hi @nikhilrajnair can you provide me more info?
Like, is that happening on demo page? Code example?
Thanks

[2019-12-11 12:07] nikhilrajnair commented on #30
If i am uploading mp4 file it works fine ,When i uploading the 3gpp/x-flv files shows the error

[2019-12-12 12:03] nikhilrajnair commented on #30
it's regarding the `HTML5` video player issue , i used [video.js](https://github.com/videojs/videojs-flash) for playing the flv videos.

[2019-12-12 12:03] #30 closed

[2020-01-10 10:22] anniebananie92 opened #32 "Error when using <input> accept attribute"
Hi!

When using `<input>`  with an accept attribute without any file-upload component from the library the FilesAcceptDirective seems to fire.

Example:
[code]

[code]

leads to following error after selecting a file, without even using your library in that case:

[code]

When removing the accept attribute the error doesn't occur.

Thank you!

[2020-01-10 22:54] #32 closed

[2020-01-22 12:08] avssolutions opened #33 "FileUploadValidators.filesLimit()"
FileUploadValidators.filesLimit() does not work you can select multi files in dragandrop

[2020-01-22 21:20] pIvan commented on #33
Hi @avssolutions,
please can you check [issue #28](https://github.com/pIvan/file-upload/issues/28).

Kind regards,
Ivan

[2020-01-23 06:38] avssolutions commented on #33
Hello @pIvan ,  the problem is next, i try to select just one file, not drag and drop, i can select multiple, even i  have made FileUploadValidators.filesLimit(1), because I see in template input with attribute multiple i need to remove that multiple. I am using reactive forms
Thanks

[2020-01-23 07:35] pIvan commented on #33
so you want to use <file-upload> not <file-upload simple> to select only one file?

[2020-01-23 07:37] avssolutions commented on #33
I need when someone want to not drag and drop, he just click on area, to be able to select only one file, not multiple

[2020-01-23 07:42] pIvan commented on #33
Ok @avssolutions I'll mark this as an enhancement
because this wasn't a plan to implement. Will be done in the next few days

[2020-01-30 22:15] #33 closed

[2020-02-07 15:04] dmytrodemchenko opened #34 "Incopatible with Angular 9"
The functionality of the uploader doesn't work with a major version of Angular 9.
As an example, it through the error in a dev console and as example, you can check it below:

<img width="1421" alt="Screenshot 2020-02-07 at 17 02 07" src="https://user-images.githubusercontent.com/11888586/74040162-d6d9ad00-49cb-11ea-9ab2-27c924a7ca60.png">

[2020-02-07 20:56] pIvan commented on #34
Hi @dmytrodemchenko,

can you give me more info about the problem? You just updated project to angular 9
and then all stopped to work?
Did everything work before the update?

[2020-02-10 09:02] dmytrodemchenko commented on #34
Hi @pIvan,
I just updated the project to Angular 9 and then I got an error in DEV console as attached above.
Everything before was fine - no issues.

Could you take a look?

[2020-02-10 10:12] pIvan commented on #34
Hi @dmytrodemchenko,
today I will make commit.

Kind regards.

[2020-02-10 17:01] pIvan commented on #34
Hi @dmytrodemchenko,
I just made a test with angular 9 and can't reproduce the same error.
Can you give me some code snippets from HTML and typescript?
And also which version of file-upload do you use?

Thanks

[2020-02-11 07:46] dmytrodemchenko commented on #34
@pIvan
It works with fine the latest release

The issue with v1.2.2.

sorry, and thanks for your help!

[2020-02-11 20:36] pIvan commented on #34
You're welcome @dmytrodemchenko, I'm closing this

[2020-02-11 20:36] #34 closed

[2020-03-20 19:32] jerone opened #35 "Multiple=false still allows mulitple files via drag&drop"
When I have `[multiple]="false"` it is possible to drag and drop multiple files.
![afbeelding](https://user-images.githubusercontent.com/55841/77199703-905a9080-6ae9-11ea-8543-7338674ec4c7.png)

The file-dialog correctly only allows one file.

---

_Version 1.5.0, because version 2.0.0 doesn't work for Angular 8._

[2020-03-20 19:39] jerone opened #36 "Empty [accept] throws exception"
When I set an empty `accept` value, it throws the following exception:
[code]

HTML:
[code]
TS:
[code]

There should probably an `null|undefined` check just before the `split`: https://github.com/pIvan/file-upload/blob/de4e841b1e05baa27fe03a7ec435c36ffc7ae272/projects/iplab/ngx-file-upload/src/lib/directives/validators.directive.ts#L197

---

_Version 1.5.0, because version 2.0.0 doesn't work for

[2020-03-21 11:08] pIvan commented on #36
@jerone thanks,

this should be fixed in next version.

[2020-03-21 11:11] pIvan commented on #35
Hi @jerone,
a lot of people have been looking for this functionality so I will implement it,
even though it was only validation until now.

[2020-03-24 19:23] pIvan commented on #35
Constraint multiple is enabled on v1.5.1 and 2.0.1

[2020-03-24 19:26] #35 closed

[2020-03-24 19:43] #36 closed

[2020-03-24 19:58] jerone commented on #35
Awesome work! I'll apply this tomorrow.

[2020-03-24 20:04] pIvan commented on #35
Thanks :)

[2020-03-26 18:15] MHKarami97 opened #37 "how use validate"
Can we show errors if errors? for example if file size is more than valid size. like this:

`            <div class="col-sm-12">
              <div class="form-group">
                <label for="userId" class="label">img</label>
                <file-upload [(ngModel)]="uploadedFiles" #fileInput="ngModel" name="files" fileslimit="1" accept=".jpg, .png, .jpeg" maxsize="10 MB" multiple="false" requ

[2020-03-26 20:32] pIvan commented on #37
Hi @MHKarami97,

if you look at the source of each of the validators,
you will see objects they create as errors.

accept = [fileInput.errors?.fileTypes](https://github.com/pIvan/file-upload/blob/0d715bb6e15d79e82959f5bc81970a0852bb81e4/projects/iplab/ngx-file-upload/src/lib/helpers/validators.class.ts#L139)

filesize = [fileInput.errors?.sizeRange](https://github.com/pIvan/file-upload/blob/0d715b

[2020-03-26 20:32] #37 closed

[2020-03-27 08:40] jerone commented on #36
I tested it, and works great!

[2020-03-27 08:40] jerone commented on #35
I tested it, and works great!

[2020-04-08 07:16] SteffenSchwaiger opened #38 "Npm package still has a peerDependency to Angular 8"
The npm package `@ipLabs/ngx-file-upload@2.0.2` still has peerDependencies to Angular 8 although the Changelog.md says:

**package.json (2.0.2):**
`"peerDependencies": {
    "@angular/common": "^8.0.0",
    "@angular/core": "^8.0.0",
    "@angular/animations": "^8.0.0",
    "rxjs": "^6.4.0"
  }`

Which results in the following npm output when used in an Angular 9 project:
`npm WARN @iplab/ngx-file

[2020-04-08 07:45] #38 closed

[2020-05-09 01:37] poderosoans opened #40 "template design equal to default"
Is it possible to have the same design that comes by default and only change the text to another language?
It is difficult for me to get the same design with the templates
http://prntscr.com/sdiapq

Thanks

[2020-05-09 08:58] pIvan commented on #40
Hi @poderosoans,

currently, it is not possible, but it will be next week.
Thanks!

[2020-05-14 14:30] jurkat opened #41 "DragEvent on Safari"
Hello,

I get the following error when I call my app under Safari:
ReferenceError: Can't find variable: DragEvent

Unfortunately I cannot do without safari even for mobile. Is there a wokraround for this problem?

Darg and Drop is not important, but changing the uploader is a lot of work.

Thanks

[2020-05-14 14:58] jurkat commented on #41
It's working with Version 1.5.2

[2020-05-14 18:19] pIvan commented on #41
Hi @jurkat,
please could you tell me on which version this doesn't work?

Thanks

[2020-05-15 08:18] jurkat commented on #41
I tried it on Version 2.0.2 and 2.0.3.

The Error is located in my vendor-es2015.js, but maybe, this code snipped, where the error is located (4th row) can help you:

`Object(tslib__WEBPACK_IMPORTED_MODULE_0__["__decorate"])([
    Object(_angular_core__WEBPACK_IMPORTED_MODULE_1__["HostListener"])('drop', ['$event']),
    Object(tslib__WEBPACK_IMPORTED_MODULE_0__["__metadata"])("design:type", Funct

[2020-05-19 16:42] pIvan commented on #41
@jurkat can you paste me the whole error, code which you paste was not changed from
the first version until current, also do you have it online?
Whether it appears on the [demo](https://pivan.github.io/file-upload/) page also?

[2020-05-21 22:38] poderosoans commented on #40
Thank you

[2020-05-26 06:53] alagresta opened #42 "Delete file when the control is disabled"
When you set the form element to disable and you have already file loaded the delete button works.
So, you can delete files in a disabled input file

[2020-05-26 21:21] pIvan commented on #42
Hi @alagresta, thank you
will be fixed this week.

[2020-05-27 21:31] #42 closed

[2020-05-27 21:49] pIvan commented on #41
Hi @jurkat, What error says "ReferenceError: Can't find variable: DragEvent" but
DragEvent is just the interface which should not be in compiled code,
the issue could only be in a compilation.
Can you paste here error from browser console or give some more info about problem?

[2020-05-28 07:50] jurkat commented on #41
Hi @pIvan, sorry for my late response.
No, it's not online. After i recognize, that it works with version 1.5 i switched..
I tried to install your package on an angular stackblitz but got:

[code]

What you said about interface made me think. This error only occours while live reload and after building for staging. Bulding in Production let the error omit. So it dont appear on the demo site.

This

[2020-06-01 20:14] pIvan commented on #41
Hi @jurkat, thanks for all the information you provided,
I'm busy this week, but I'll try to fix it as soon as I catch some free time

[2020-06-04 09:19] Ovaro commented on #41
@pIvan Same here. Looks like we need to replace every DragEvent with any.

[2020-06-04 10:27] clampinou commented on #41
Hi @pIvan, same problem here but if you're working on it, I'll wait :-) thank you very much for your module and your efficacy !

[2020-06-04 11:33] #41 closed

[2020-06-04 11:35] pIvan commented on #41
Hi could you just confirm which version of Typescript do you have?
I have made change and remove all DragEvent types,
that should fix the problem with typescript lib definition file.

[2020-06-04 13:13] clampinou commented on #41
Hi,
I'm on typescript 3.6.4. But I still have the error on Safari. It seems that a last DragEvent type is still here. Maybe with the screenshot it will help :)
<img width="653" alt="Capture d’écran 2020-06-04 à 15 11 35" src="https://user-images.githubusercontent.com/14886803/83760856-d0a3c680-a675-11ea-8d05-d97c22bffd38.png">

[2020-06-04 13:46] pIvan commented on #41
Yeah, I didn't replace them all, sorry I'm working and wanted to change this fast. Give me few minutes.
Typescript version on which library is made is 3.7.5 :)

[2020-06-04 13:48] pIvan commented on #41
Please can you try version 2.0.6?

[2020-06-04 14:18] clampinou commented on #41
I need the 3.6 to use some other libraries that not support 3.7 yet. A lot of people are not as reactive as you lol ! 😂

I've just tested it and everything is ok for me on Safari now ! Thank you very much ! 🙏

[2020-06-05 23:31] biggosh commented on #5
I found the same problem. The only way to solve the problem for me was to transform the template form data (I used template forms) to FormData object.

I tried to set the content-type but it was not enough.

On my opinion HttpClient.post does not manage correctly the files object.

I hope this can help somebody.

[2020-06-07 08:10] Ovaro commented on #41
Thanks @pIvan ! Works perfectly on Safari now.

[2020-06-07 09:35] pIvan commented on #5
Hi @biggosh, yes,
to upload files you need to use FormData and change content-type.
Thank You for pointing this out!

[2020-06-08 23:50] jict3493 opened #43 "help, does not validate or update the .valid or .invalid"
Hi, I'm doing a dynamic form and the validations don't work for me. I've tried everything, I've even read all the closed issues, I'd appreciate your help.

At the moment this a little hardcoded, the idea is to take fields from a database and with those fields create a form.

this is the modal-participar.page.ts
![code4](https://user-images.githubusercontent.com/4748708/84165228-745bf080-aa41-11ea-

[2020-06-09 09:24] pIvan commented on #43
Hi @jict3493 thank You for detailed explanation!

[2020-06-15 15:16] BorisZubchenko opened #44 "Cannot set maxsize"
![image](https://user-images.githubusercontent.com/31354262/84673698-bbab1b00-af32-11ea-99f1-d75a06e512b3.png)

As you can see, I cannot bind maxsize to the component.
Moreover, there is no compile error due to attribute binding, but it appears when one-way binding.

Seems like it doesn't work (I've just printed `control.getError().flat()[0]`):
![image](https://user-images.githubusercontent.com/31

[2020-06-15 17:23] pIvan commented on #44
Hi @BorisZubchenko, directive as maxsize exactly is used with angular template-driven form,
in you're case you have FileUploadControl instance binded through control property,
that allows you to set any custom validator without of HTML element attributes.
Same is with multiple and accept.

Kind regards

[2020-06-15 18:03] BorisZubchenko commented on #44
Oh, my bad, I provided `10 * Math.sqrt(1024)` to the validator thinking that I'm doing `10 * 1024 * 1024` (that's where 320 came from). I thought it's the default value. I have to get some sleep :)
I'm sorry. Anyway, thank you for your response!

[2020-06-15 18:04] #44 closed

[2020-06-15 18:27] pIvan commented on #44
Yeah, sometimes we need to sleep :P

[2020-06-16 06:20] pIvan commented on #43
Hi @jict3493, I just saw how you use FileUploadControl with angular reactive form, that would not work, FileUploadControl is used only when you want to use fileupload as stand alone component, otherwise use FormControl or ngModel to connect it with Angular forms.
In this particular case use FormControl (for **accept** use element attribute or you can combine it FileUploadControl instance).

Kind r

[2020-06-22 15:59] #43 closed

[2020-07-15 06:44] jonyeezs opened #45 "Would love a more open view encapsulation."
One of the reasons i chose this library, is how free it opens up to customize the interface within the drag area.

All that is good, but customizing the styling is abit painful when its encapsulated.

Would you be keen to open this up using `Encapsulation.None`?

[2020-07-15 19:01] pIvan commented on #45
Hi @jonyeezs, give me a few days, I have in plan some changes and
this is something I'll consider

[2020-07-22 13:52] alexfranco90 opened #46 "Add angular 10 support"
As the title suggest, last version (2.0.6) is missing angular 10 support.

`npm i @iplab/ngx-file-upload@latest`

`npm WARN @iplab/ngx-file-upload@2.0.6 requires a peer of @angular/common@^9.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN @iplab/ngx-file-upload@2.0.6 requires a peer of @angular/core@^9.0.0 but none is installed. You must install peer dependencies y

[2020-07-22 18:00] #40 closed

[2020-07-22 18:00] #46 closed

[2020-07-22 18:08] pIvan commented on #40
Default templates are exported so you can localize text in them, an example is available [here ](https://pivan.github.io/file-upload/#template-reuse)

[2020-08-24 17:08] StalinMazaEpn opened #47 "Customize text of file-upload-drop-zone"
Hello,

Is there any plan to add a property to the component to can customize the text that will be displayed on the drop zone area. For example to show the text in another language like that:

Thanks!

[2020-08-27 06:53] dusanfle opened #48 "Reference error only when using app in dev mode (locally) in Safari 13.1.2, Angular 9 version"
Hello,

I have a problem with the library as it says in the title and this is an error I get in the console:

`Error: Uncaught (in promise): ReferenceError: Can't find variable: DragEvent ../../node_modules/@iplab/ngx-file-upload/__ivy_ngcc__/fesm2015/iplab-ngx-file-upload.js@http://localhost:4200/wolkabout-dashboards.js:19570:93 __webpack_require__@http://localhost:4200/runtime.js:85:34 ../../lib

[2020-08-27 07:45] #48 closed

[2020-08-29 19:30] pIvan commented on #47
Hi @StalinMazaEpn,

the same request was mentioned in this [issue](https://pivan.github.io/file-upload/#template-reuse).

Kind regards,
Ivan

[2020-08-29 22:21] StalinMazaEpn commented on #47
Thanks @pIvan 👍😁

[2020-08-29 22:21] #47 closed

[2020-09-05 20:40] yoedusvany opened #49 "Wrong file when drag and drop"
I'm using angular 10, when I drag and drop into the component a pdf file for example, don't show me any error and let me "adjunt" the file. In the next code I pass some parameters to the original component

` <app-custom-upload id="otherPics"
                                               [accept]="'.jpeg,.jpg,.png'"
                                               [formGroup]="profileForm"

[2020-09-06 09:25] pIvan commented on #49
Hi, @yoedusvany can you prepare some demo,
or at least give me more code from that some app-custom-upload component?

[2020-09-14 21:22] yoedusvany commented on #49
Here is the code, is a base component for "adjunt" images files in some cases and in other cases pdf.

`<div *ngIf="!formEvents" [formGroup]="formGroup">
    <file-upload [formControlName]="formName"
                 [multiple]="multipleFiles"
                 class="upload-file-text-profile"
                 [accept]="accept"
                 [ngClass]=" small? 'upload-file-btn-small' : 'upload-f

[2020-09-14 22:11] pIvan commented on #49
I did a speed test according to your code and everything looks ok to me.
Did I do anything different from you?

[component](https://ibb.co/NgRBSWT)
[ui](https://ibb.co/g7vcDNH)
[debug - console](https://ibb.co/74znmcN)
[debug - html](https://ibb.co/3zVjHDM)
[html](https://ibb.co/FsbtRqq)

[2020-09-15 13:57] yoedusvany commented on #49
Ohooo, form status is the key mmm. But  Is there any way to avoid to
"adjunt" the wrong file?

El lun., 14 sept. 2020 a las 18:11, Ivan (<notifications@github.com>)
escribió:

[2020-09-16 06:55] pIvan commented on #49
How each input on form does not have any restriction, and by html specification [accpet](https://html.spec.whatwg.org/multipage/input.html#attr-input-accept) attribute provide user agents with a **hint** of what file types will be accepted.
Same is with file size limitation, that is something what should be validated before sending, but how You're not the first who asked about this, I'll add that

[2020-09-16 12:09] yoedusvany commented on #49
Ok Ivan, thanks a lot for your responses, I hope you can do it. By the way,
good work with the package!!!!

Regards Yoedusvany.

El mié., 16 sept. 2020 a las 2:55, Ivan (<notifications@github.com>)
escribió:

[2020-09-16 21:15] pIvan commented on #49
Thanks, @yoedusvany, I'll try to make changes as soon as I can! :)

[2020-09-21 12:43] yuchaosydney opened #50 "peer dependency warning when using Angular 10"
When upgrading Angular 9 to Angular 10, got warning message:

`Package "@iplab/ngx-file-upload" has an incompatible peer dependency to "@angular/animations" (requires "^9.0.0 | ^10.0.0", would install "10.1.2").`

[2020-09-21 12:49] #50 closed

[2020-09-21 12:49] yuchaosydney commented on #50
Duplicate issue 46

[2020-09-21 19:38] pIvan commented on #50
Hi @yuchaosydney last version (2.0.8) should support @angular v10

[2020-12-26 05:31] CryHenry opened #51 "iplab-ngx-file-upload.d.ts has no selector, please add it!"
Great Module. Works well...except...

I can debug, but when trying to build for production I get this error...

ERROR in Directive ɵa in D:/xampp7/htdocs/varive.app/node_modules/@iplab/ngx-file-upload/iplab-ngx-file-upload.d.ts has no selector, please add it!
Cannot determine the module for class ɵa in D:/xampp7/htdocs/varive.app/node_modules/@iplab/ngx-file-upload/iplab-ngx-file-upload.d.ts! Add

[2020-12-26 05:45] CryHenry commented on #51
For those who come after me...I am using Angular 8 and seems rolling back to version 1.5.3 of the ngx-file-upload has solved the issue.

[2020-12-26 05:45] #51 closed

[2020-12-26 12:13] pIvan commented on #51
Hi, @CryHenry on which version you had an issue with the selector?

[2020-12-26 20:57] CryHenry commented on #51
Hi mate,

V2.0.4 had the issue for me running under Angular 8.

[2020-12-28 17:20] pIvan commented on #51
Yes version 2.0.0 is compatible with angular 9.0.0 || 10.0.0 || 11.0.0, for older version as you mentioned angular 8 it is 1.0.0

Thanks, @CryHenry for pointing that out

[2021-03-06 11:55] #49 closed

[2021-03-06 11:57] pIvan commented on #49
Hi @yoedusvany,

support for discarding invalid files was added, please check [discard section](https://pivan.github.io/file-upload/#discard)

[2021-03-08 10:55] erdaepfel5 opened #52 "Remove not working since 2.0.4"
We have upgraded from Angular 8 to 11 including this lib from 1.5.2 to 2.0.9. Since then the Remove is not performing any action. I have tried all versions between 2.0.0 and 3.1.0. It seems to only work until 2.0.3. Can you please check?

[2021-03-08 11:13] pIvan commented on #52
hi @erdaepfel5 so after 2.0.3 remove does not work?

[2021-03-08 11:21] erdaepfel5 commented on #52
Hi Ivan,

Yes, that's what I have encountered. Can you reproduce in 2.0.4 or higher
version?

Best regards,
Isabella

Ivan <notifications@github.com> schrieb am Mo., 8. März 2021, 12:13:

[2021-03-08 11:50] pIvan commented on #52
Hi Isabella,

on the [demo](https://pivan.github.io/file-upload/), each delete button uses the same method `removeFile`, and
all works fine. There is also a test in `control.class.spec.ts` which passes every time.

i will try version 2.0.0+ later.
Kind regards,
Ivan

[2021-03-15 18:12] pIvan commented on #52
Versions I just tested are 2.0.4, 2.0.5, 2.0.6, and 2.0.7 and all works fine

Code used in test:

![image](https://user-images.githubusercontent.com/9890216/111199802-59667000-85c1-11eb-9ace-ed635e6cf431.png)
![image](https://user-images.githubusercontent.com/9890216/111199848-6a16e600-85c1-11eb-9376-d994303bd667.png)

Can you give me an example of code where the mentioned problem is? Thanks!

Kin

[2021-03-17 15:29] erdaepfel5 commented on #52
Hi Ivan,
I have analysed further and the issue we face is because of your fix in 2.0.4 "file deletion - Fixed error with preventing files deletion when control is disabled". What we do is limiting the number of files to 1. As soon as a file is choosen we disable the fileControl, so that the upload button is hidden. This also disables the Remove button since 2.0.4.
Is it possible to only hide the u

[2021-03-17 23:02] pIvan commented on #52
Hi Isabella,

thank You for pointing me that disable/enable multiple has stopped to work, I have made some changes
in version 3.0.0 where initially is possible to define _Control_ settings, and I have made some mistake.
Fix for this issue is up with version 3.1.1.

Thanks,
Ivan

[2021-03-22 21:11] fwdolegp opened #53 "filesLimit validator failing with error"
Version:  "@iplab/ngx-file-upload": "3.1.1",

Declare file upload control
`public fileUploadControl = new FileUploadControl(
    {
      multiple: false,
      discardInvalid: true,
      accept: ['image/*','application/json']
    },
    [
      FileUploadValidators.filesLimit(1),
      FileUploadValidators.fileSize(1000000)
  ]);`

Attempt to add second file

Notice error in console:

ERROR TypeE

[2021-03-22 21:13] fwdolegp commented on #53
version:  "@iplab/ngx-file-upload": "3.1.1",

[2021-03-23 12:32] sidjai09 opened #54 "not triggering change event on drop files"
I want to call function on every change ether for selecting in input or by dropping file in file-upload

[2021-03-23 12:36] pIvan commented on #53
Hi @fwdolegp can you give me info about that what was wrong?
Thanks!

[2021-03-23 12:43] pIvan commented on #54
Hi @sidjai09,

which event? valueChanges, statusChanged or some other?

[2021-03-23 12:45] sidjai09 commented on #54
valueChanges event is not calling function on drop file.

[2021-03-23 12:58] sidjai09 commented on #54
Hii @pIvan

I am using following versions,
Node :- 14.14.0
npm :- 6.14.8
Angular version :- 10.1.7

 HTML:-
<file-upload
        [(ngModel)]="uploadedFiles"
        [multiple]="true"
        (valueChanges)="onFileInputChange()"
        (change)="onFileInputChange()"
        [control]="fileUploadControl"
        id="files"
        name="files"

TS:-
onFileInputChange() {
       .... do something
}

[2021-03-23 12:59] pIvan commented on #54
valueChanges is emitted only when the value has been changed (either on input change or dropping files),
there is no event that is called only on file drop.

So you have control `fileUploadControl`, you are able to listen value change on it,
so you don't need any event or property configuration over HTML template.

`fileUploadControl.valueChanges.subscribe((newValue) => )`

[2021-03-23 13:05] sidjai09 commented on #54
Thank you @pIvan
It works...

I was unaware about this syntax.

[2021-03-23 13:05] #54 closed

[2021-03-23 13:06] sidjai09 commented on #54
@pIvan
Just a kind suggestion show this syntax in Document so other can find it easily

[2021-03-23 13:18] pIvan commented on #54
There is but without all events [demo](https://pivan.github.io/file-upload/#stand-alone),
methods explanation is on the bottom of the page.
:)

[2021-03-23 14:05] fwdolegp commented on #53
Sure.

Browser : Chrome on Mac. Version 89.0.4389.90 (Official Build) (x86_64)

package.json dependencies:
`
{
    "@angular/animations": "11.2.1",
    "@angular/cdk": "11.0.0",
    "@angular/common": "11.2.1",
    "@angular/compiler": "11.2.1",
    "@angular/core": "11.2.1",
    "@angular/forms": "11.2.1",
    "@angular/google-maps": "11.2.2",
    "@angular/platform-browser": "11.2.1",
    "@angu

[2021-03-23 14:12] pIvan commented on #53
Thanks, @fwdolegp, I'll try to reproduce it today, for now, this is opened until we found problem!

[2021-03-24 07:41] pIvan commented on #53
Hi @fwdolegp there is an error in validation, will be fixed today.
Thanks!

[2021-03-24 21:31] #53 closed

[2021-03-24 21:32] pIvan commented on #53
Hi @fwdolegp, the issue should be fixed.

[2021-03-24 21:33] pIvan commented on #52
Hi Isabella,
can you confirm is it ok now?

Thanks,
Ivan

[2021-03-25 14:41] erdaepfel5 commented on #52
Hi Ivan,
the multiple files issue seems good. Thanks for the fix.

Do you think you can provide a solution for my request for having e.g. a flag to hide the upload icon while remove is still working?

[2021-03-26 12:49] pIvan commented on #52
Hi Isabella,

it is possible to do samething like this:
`public fileUploadControl = new FileUploadControl(
        { discardInvalid: true },
        [FileUploadValidators.filesLimit(1)]
);`

or to use a custom template.

[2021-04-06 18:08] antonioadami opened #55 "Number of files limit"
Hello, it would be great if we could limit the number of files in the layout, not just on "FileUploadValidators.filesLimit(1)"

[2021-04-07 07:11] pIvan commented on #55
Hi @antonioadami,

can you explain to me how would you limit them? If you place FileUploadValidators.filesLimit(1)
validator and enable [discard](https://pivan.github.io/file-upload/#discard) you'll get the layout limitation.
Is that something that you expect to have?

Kind regards,
Ivan

[2021-04-07 20:35] antonioadami commented on #55
Hi @pIvan ,

Searching deeper on the documentation I found out that I could just disable multiple. That solved my issue. Thanks.

[2021-04-07 20:35] #55 closed

[2021-04-09 14:18] amit-mixturebox opened #56 "Unknown error with Angular v8"
ERROR in node_modules/@iplab/ngx-file-upload/lib/components/attribute/file-upload-attr.component.d.ts(18,9): error TS1086: An accessor cannot be declared in an ambient context.
    node_modules/@iplab/ngx-file-upload/lib/components/attribute/file-upload-attr.component.d.ts(19,9): error TS1086: An accessor cannot be declared in an ambient context.
    node_modules/@iplab/ngx-file-upload/lib/compone

[2021-04-09 14:27] pIvan commented on #56
Hi @amit-mixturebox, can you tell me which version of ngx-file-upload did you used?
Thanks

[2021-04-10 07:12] amit-mixturebox commented on #56
Thanks plvan for quick reply. First of all Kudos to the great work done by you - I m very much impressed with the stuffs you have done - and would like to integrate within my application

While integrating within application I am facing some issues which is listed as below -

Compatible with Angular V8 is **resolved** now -

I have installed "@iplab/ngx-file-upload": "1.5.4", - now I m not getting

[2021-04-12 17:46] pIvan commented on #56
Hi @amit-mixturebox,
the older version does not have configuration over constructor,
also if you use [control] property, you do not need to use [ngModel] and all other

***.component.html**
`<file-upload name="uploadedFile" [control]="fileUploadControl">`

***.component.ts**

[code]

or you can add multiple validations

[code]

as far as CSS is concerned, currently, it is encapsulated, so if you w

[2021-04-13 15:39] pIvan commented on #52
Hi @erdaepfel5 di I helped you?

[2021-04-15 08:25] erdaepfel5 commented on #52
Hi Ivan,
Sorry, for the very late reply. I had to focus on other work but had a look at it now again.
Unfortunately, discardInvalid or other config did not help to solve my problem.

What I did now is css styling. I will add here in case someone else also needs such a solution:

private filesControl = new FormControl(null, [FileUploadValidators.filesLimit(1), FileUploadValidators.accept(this.allow

[2021-04-15 08:27] #52 closed

[2021-04-15 19:39] pIvan commented on #52
Hi @erdaepfel5,
thank you for the info, here is also one similar example,
with an image preview [demo](https://pivan.github.io/file-upload/#template)

[2021-05-26 13:52] matthewtquinn1 opened #57 "Angular 12 Support"
Hi,

Are you planning on updating this repository to support Angular 12?

Thanks.

[2021-05-26 16:33] #57 closed

[2021-05-26 16:33] pIvan commented on #57
Done ;)

[2021-05-27 11:32] matthewtquinn1 commented on #57
Amazing! Thanks for doing that so quickly.

[2021-05-27 15:28] pIvan commented on #56
closing due to inactivity

[2021-05-27 15:28] #56 closed

[2021-05-27 15:29] pIvan commented on #57
You're welcome! :)

[2021-06-01 20:17] antonioadami opened #58 "Translation or text change"
Once I live in a not english native speaking country, it would be nice to have a locale translation or the possibility to change the texts mannualy.

[2021-06-02 21:00] pIvan commented on #58
Hi @antonioadami you can change text manually or use some l10n library with instruction on [demo](https://pivan.github.io/file-upload/#template-reuse)

[2021-06-02 21:00] #58 closed

[2021-06-21 07:28] arkabhowmick opened #59 "Error in ng build --prod"
`Directive ɵa in /node_modules/@iplab/ngx-file-upload/iplab-ngx-file-upload.d.ts has no selector, please add it!`
Hi, I am getting the above issue while doing a ng build prod.
Is there any solution for this ?
I am on angular 8.1.3
I am on version : "2.0.9"

[2021-06-21 19:57] pIvan commented on #59
Hi @arkabhowmick, 1.5.0 is the last version compatible with angular 8.x.x

[2021-06-21 22:54] notbear opened #60 "Duplicated file entries in multiple mode"
Hello
I found some inconsistency while selecting files.

**Observed**:
In single mode if I choose another file the previous is replaced.
But in multiple mode new files are just added to the list as new entries even if they existed on the list.

**Expected**
The list of files should not contain duplicates if the same file is added more than once.

<hr>

Duplicated entries:
<img src="https://user-im

[2021-06-22 05:27] arkabhowmick commented on #59
Ah.. thanks.. it's working

[2021-06-22 05:27] #59 closed

[2021-06-22 09:39] pIvan commented on #60
Hi @notbear, thanks! I'll try to fix this in next few days.

[2021-06-28 13:38] #60 closed

[2021-06-28 13:38] pIvan commented on #60
Hi @notbear,

the possibility of uploading more files is intentionally left so that it is possible to continue adding files several times, they can be deleted if the `discard` option is enabled, then depending on the validators they will be removed from the list.

With `native` parameter it should act as a native input field,
and each time when new files are added, the previous should be deleted.

[2021-06-28 17:13] notbear commented on #60
Hello. Thanks for a quick update! There must have been some misunderstanding between us. I was perfectly fine with adding files multiple times. It's a good UX.
My only concern was about duplicated entries. If the same file was chosen again it appeared twice on the list.

[2021-06-28 18:41] pIvan commented on #60
Oh I see,
will be corrected ;)

[2021-06-28 19:06] pIvan commented on #60
Corrected with version 3.3.1.
Kind regards.

[2021-07-02 19:14] cybernize opened #61 "Attribute option with multiple image preview"
Hi,
Can I use the attribute component option and preview multiple images?

eg: -
`      <div #dropZone file-drop-zone [control]="control">
           <div>
               some content
           </div>
           <div *ngIf="control.size > 0">
                <div class="upload-wrapper">
                    <div class="thumbnail-container" *ngFor="let file of dropZone.control.value; let i = index"

[2021-07-02 20:34] pIvan commented on #61
Hi @cybernize,

I'm afraid I didn't quite understand the question.
If you ask if you can preview the image, yes it is possible, for that use [FileReader](https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsArrayBuffer).

[2021-07-02 23:12] cybernize commented on #61
Hi,
I want to show thumbnails of the dropped files(images). How can I iterate that in template as shown above. For instance I can iterate file name with "file.name"

[2021-07-03 18:05] pIvan commented on #61
`&lt;div #dropZone file-drop-zone [control]="control"&gt;
	&lt;div&gt;some content</div&gt;
	&lt;div *ngIf="control.size > 0"&gt;
		&lt;div class="upload-wrapper"&gt;
			&lt;div class="thumbnail-container" *ngFor="let file of dropZone.control.value; let i = index"&gt;
				&lt;span class="delete-button" (click)="control.removeFile(file)"&gt; X &lt;/span&gt;
				&lt;img [src]="readFile(file) | async

[2021-07-03 18:05] #61 closed

[2021-09-09 06:59] Dineshrajaa opened #62 "MaxSizeLimit for the total size when multiple file selection is supported"
Hi @pIvan ,

Is there anyway we can restrict file uploads beyond a size limit say 5 MB when we are supporting multiple file upload?

PS: File size limit should be checked against total file size of the selected files not individual items.

[2021-11-19 08:30] alexqbm opened #63 "Create a reject function in validators"
Right now we can use `FileUploadValidators.accept(['.zip', '.jpeg'])` to specify which file extensions to accept in the component. However, having the opposite, a **reject** function that would expect only those file extensions that are not accepted, would be very useful.

[2021-11-19 10:09] pIvan commented on #63
Hi @alexqbm,
it is possible to write your own validator for each case, so too for this one.
I will add it in a next release, because I also think it is something frequently used.

Thanks @alexqbm.

[2021-11-19 10:27] alexqbm commented on #63
That'll be great! Looking forward for that. Thanks, Iván 😃

[2021-11-22 08:25] alexqbm commented on #63
Btw Iván, where could I check how to create custom validators as you mentioned? It is exactly what I need right now but there is no info about it in https://pivan.github.io/file-upload/

[2021-11-22 15:10] pIvan commented on #63
Can you tell me which layout do you use? Standalone, ng reactive form.?..

[2021-11-22 15:39] alexqbm commented on #63
Sure! I am currently using the standalone one.

[2021-11-22 16:18] pIvan commented on #63
[code]

method rejectValidator can be implemented similar to [accept](https://github.com/pIvan/file-upload/blob/f067e38965d7cacf900d1e6caed8a6cb96dfdf14/projects/iplab/ngx-file-upload/src/lib/helpers/validators.class.ts#L136)

[2021-11-23 08:21] alexqbm commented on #63
I see it clear now, thanks!

However, this approach allows us to specify the input right from the declaration of the fileUploadControl. How could we implement a reject/function that relied on the file information itself? Let's say: how could we create a function that rejected files based on their filename?

[2021-11-23 09:17] alexqbm commented on #63
Thank you for your time, Iván. It is clear to me now.

Keep up the good work! I'll be recommending your project to any Angular developer that asks me for a file uploading solution :)

[2021-11-23 14:46] pIvan commented on #63
Thanks @alexqbm,

if you want to discard invalid, you need to tell that to component ;)
Component by default accept all, and just validate his content, so if you want you can show that error, or
if you want to discard invalid files, just use this flag in constructor discardInvalid: true.

[code]

Also make sure your validator returns list of files which need to be removed as follows

[code]

[2021-11-30 19:31] Riuen opened #64 "File upload icon does not align correctly when adding files to template-driven file-upload component."
There seems to be an issue when using the file upload component in a template-driven form.

**HTML**
```<file-upload [(ngModel)]="source" name="files" (ngModelChange)="onChange($event)" #fileComp></file-upload>```

When the variable called "source" is empty then the file upload component displays the default "Drag and drop files or click here"message along with the file upload icon. However, once

[2021-12-01 12:10] pIvan commented on #64
Hi @Riuen,

please check css definition, that part is hidden with selector:

[code]

[2021-12-01 12:10] #64 closed

[2021-12-01 20:31] #63 closed

[2021-12-01 21:11] pIvan commented on #62
To preserve the simple logic behind the component, the validators are the same as they were,
what I did is, add a new validator `sizeLimit` which checks the summary size of all the files submitted to the component.
There may be cases where the user can upload 5 files, but each can have a limit of 5MB, that's why I did not changed the current logic.

[2021-12-01 21:12] #62 closed

[2021-12-02 10:10] alexqbm opened #65 "Event for new files upload"
I was wondering if there's a way to listen for changes using some observable such as the `fileUploadControl.valueChanges` one but only for new files:

- If the user uploads the same file again: no data is emitted.
- If the user uploads two new images: only these two images are emitted.

[2021-12-13 09:00] pIvan commented on #65
Hi @alexqbm,

I'm working on observable pipe, because this all need to be compatible with @angular FormControl.

[2021-12-13 10:27] alexqbm commented on #65
Ahhhh, I am glad to hear that. Yours is a pretty fine work! I'll make sure to use it and provide you with feedback as soon as you drop it. Thanks!

[2021-12-16 06:30] sumitdhungana14 opened #66 "Do we have feature to hide/disable the remove icon from each file upload item list?"
I want to show the remove icon on the file item i.e. `<file-upload-item-list>` only on certain conditions and hide/disable on other conditions. Is there a property exposed by `<file-upload>` component I could bind to to achieve this requirement?

[2021-12-18 17:13] pIvan commented on #66
Hi @sumitdhungana14,

the component is designed so that it is possible to customize the list,
the built-in list is as it is and the parameters will not hide the icons,
you can  create your own custom list.

[2021-12-18 17:13] #66 closed

[2022-01-14 10:38] matthewtquinn1 opened #67 "Angular 13 support"
Hi, it's me again!

Are you planning on updating this repository to support Angular 13?

Thank you :)

[2022-01-14 10:53] pIvan commented on #67
Hi @matthewtquinn1,

latest version is angular 13 supported, is there any issue with it?

[2022-01-14 12:31] matthewtquinn1 commented on #67
Oh perfect, I didn't realise - sorry! And thanks for the quick response!

[2022-01-14 12:31] #67 closed

[2022-02-07 21:26] kelvinsleonardo opened #68 "Support Rxjs 7.5.1"
Versions:
angular: 13.1.3
rxjs: 7.5.1
ngx-file-upload: 3.3.3 (latest)

I'm using rxjs v7.5.1. I'm getting this error when adding the ngx-file-upload:

[code]
Any idea for a solution?

[2022-02-08 08:54] pIvan commented on #68
Hi @kelvinsleonardo I'll fix it later today, thanks!

[2022-02-08 20:58] #68 closed

[2022-02-21 15:17] jerone commented on #67
Came here with the same question, because neither the [readme](https://github.com/pIvan/file-upload#readme), nor the [releases](https://github.com/pIvan/file-upload/releases), nor the [changelog](https://github.com/pIvan/file-upload/blob/master/CHANGELOG.md) mention any support for Angular 13.

Thank you for confirming.

[2022-03-23 19:13] BAHTechPlasma opened #69 "Weird Issue with ngx-sortablejs"
It seems that when I add your file upload component to my form, it also seems to break the sortable nature of [ngx-sortablejs](https://github.com/SortableJS/ngx-sortablejs) without causing any console errors. Don't really have time to look into it right now, but will update if I figure out the conflict.

[2022-04-14 12:03] pIvan commented on #69
Hi @BAHTechPlasma,
have you been able to determine what the problem is?

[2022-05-27 14:01] toastyghost opened #70 "Peer dep resolution"
Would it be possible to publish some 1.5.x with in-between versions of Angular? We're migrating incrementally and currently on 9, and getting npm install errors with both 1.5.4 and 4.0.x:

![with-1 5 4](https://user-images.githubusercontent.com/204219/170714443-f99d3534-6fd3-49bf-bec5-0551e259a221.png)
![with-4 0 1](https://user-images.githubusercontent.com/204219/170714439-bd0076a3-e562-45b2-82e0

[2022-05-31 05:51] pIvan commented on #70
Hi @toastyghost I'll add it later today

[2022-05-31 13:24] pIvan commented on #69
closed due to inactivity

[2022-05-31 13:24] #69 closed

[2022-05-31 13:27] toastyghost commented on #70
That's awesome, thank you for responding so quickly!

[2022-06-01 06:12] pIvan commented on #70
Hi @toastyghost can you try with latest 1.5.x version? It should work without problems with the angular 9

[2022-06-02 21:03] pIvan commented on #70
The package should be compatible with versions up to angular 12, if you need 13 there is the latest version 2.x.x.
Can you try version 1.5.x now?

[2022-06-07 06:17] pIvan commented on #70
Hi @toastyghost thanks for the snippet which has a problem, I will try it today

[2022-06-13 16:18] MaticDiba opened #71 "Adding additional input for each file to the form"
Hi,
Is it possible to use the additional input field for each document with the custom template? Something like this:
[code]
With this, the user would be also able to select the document type that he tries to upload.

The above example with not work since the `fileControl` will only hold information about each file.

[2022-06-15 12:32] pIvan commented on #70
Hi @toastyghost , versions 11, 12, 13 and 14.0.0 are out!
Will this be enough?

[2022-06-15 12:45] pIvan commented on #71
Hi @MaticDiba,

no, it is not possible, in this case the user should first upload the file and then hi can choose what the file should be.
The case where I see this is to add outside this template a drop down menu that will modify the allowed type of control.

Example (_the demo doesn't have to work, this is just an example_):

[code]

[2022-06-15 19:11] pIvan commented on #70
version 2.0.8 is compatible with 9 and 10. I have to work hard to separate and prepare this as versions 11, 12, 13 and 14. All because of a bug in the npm package manager.
Can you update projects to angular 11 or higher to skip angular 9?

[2022-06-16 10:07] lilletech opened #73 "Feature Request : i18n"
Internationalisation should be great. (via customization module conf ?)

Good job ;-)

[2022-06-24 07:10] pIvan commented on #73
Hi @lilletech idea was to make template changeable so that anybody can
change it so we do not need custom configuration for localization :D

[2022-07-11 17:13] joseserrano15 opened #74 "Detect Event when delete element"
How can I detect when an element from the list is deleted? or when the span is clicked?  I Use template-driven form

![image](https://user-images.githubusercontent.com/68348356/178319929-6ba2bedb-f8bd-46f9-904c-0dc28ee29819.png)

[2022-07-12 07:42] pIvan commented on #74
Hi @joseserrano15,

currently that is not possible if you use angular template-driven form,
but it can be if you use it with FileUpload Control instance.
Here is example of it.

class:
`public readonly fileUploadControl = new FileUploadControl();

constructor() {
    this.fileUploadControl.discardedValueChanges.subscribe((files: File[]) => { console.log(`deleted files:`, files) })
}
`

html:
`<fil

[2022-07-12 13:11] joseserrano15 commented on #74
It worked perfectly! Thank you.

[2022-07-13 11:45] toastyghost commented on #70
Still having to use `--legacy-peer-deps` as a workaround, unfortunately.

[2022-07-28 06:37] #71 closed

[2022-11-21 10:19] jerone opened #75 "Angular 15 support"
Will this package support Angular 15.

[2022-11-21 21:42] pIvan commented on #75
Done :)

[2022-11-21 21:42] #75 closed